:root {
    color-scheme: light dark;

    --paper-color: light-dark(
        oklch(0.96 0.03 85),
        oklch(0.30 0.01 100)
    );

    --grid-color: light-dark(
        oklch(0.2 0 0 / 0.3),
        oklch(0.9 0 0 / 0.2)
    );

    --vignette-color: light-dark(
        oklch(0.35 0.07 359.19 / 0.35),
        oklch(0 0 0 / 0.5)
    );

    --surface-bg: light-dark(
        oklch(0.65 0.3 85 / 0.9),
        oklch(0.15 0 100 / 0.9)
    );
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    overflow: hidden;
    background: var(--surface-bg);
}


.paper {
    position: absolute;
    inset: 0;

    box-sizing: border-box;
    overflow: auto;

    background-color: var(--paper-color);

    background-image:
        var(--paper-texture),
        radial-gradient(
            circle,
            var(--grid-color) var(--dot-size),
            transparent var(--dot-size)
        );

    background-size:
        var(--paper-size) var(--paper-size),
        var(--grid-size) var(--grid-size);
}

/* Vignette */
.paper::after {
    content: "";
    position: fixed;
    inset: 0;

    pointer-events: none;

    box-shadow:
        inset 0 0 8vw 1vw var(--vignette-color);

    z-index: 2;
}

.paper > header,
.paper > main,
.paper > footer {
    position: relative;
    z-index: 3;
}
